body{
    background-color:linear-gradient(#69eb69 , white);
}

#score{
    font-size:15px;
    margin-left:10px;
}

#time{
    font-size:15px;
    float:right;
    margin-right:10px;
}

#sketchToDraw{
    text-decoration:blue;
}